div
  form(action=(blog ? '/blogs/update' : '/blogs'), method="POST")
    if blog 
      input(type='hidden', name='id', value=blog.id)

    .form-group
      label Title
      input.form-control(name="blog[title]", required, value=(blog ? blog.title : null))

    .form-group
      label Description
      textarea.form-control(name="blog[content]")
        = arcadegame ? arcadegame.description : null

    .form-group
      label Rating
      select.form-control(name="blog[rating]", required)
        each rating in ['Trash', 'Okay', 'Good', 'Great', 'Amazing', 'Ratchet & Clank']
          option(value=rating, selected=(blog && blog.rating === rating))= rating
      
    .form-group
      button.btn.btn-dark(type="submit") Submit